.textContainer{
    padding:8px;
}

.imageContainer{

    width: 100%;
    height: auto;
    opacity: 0.9;

}

.cardTittle{
    margin-bottom: 0.5rem; 
    font-size: 1.25rem;
    line-height: 1.75rem; 
    font-weight: 700; 
}


.cardText{
    color: #374151; 
}



